---

---

<section class="conf">
  <div class="about">
    <img src="/assets/img/misc/moai-about-conf-laprevia.webp" alt="Moai" />
    <div class="about-conf">
      <h2>
        Es un evento teaser a la JSConf Chile, que busca acercar, inspirar y empoderar a sus
        participantes a través de la tecnologías en el área de JavaScript, adicionalmente, busca
        generar la instancia de aprendizaje en el uso de nuevas herramientas o simplemente ampliar
        su conocimiento de las mismas.
      </h2>
      <p>
        El evento tendrá lugar vía streaming este 12 de Octubre, de 10:00 a 18:00Hrs Chile/Argentina
        (8:00 a 16:00 COL, 7:00 a 15:00 MX) y lo mejor de todo, 100% GRATUITO. Nos acompañarán
        tremendos expositores de LATAM, tales como, Gonzalo Pozzo, Franco Balich, Sofia Grijalva
        (condorcoders) y muchos más.
      </p>
    </div>
  </div>
</section>

<style>
  .conf {
    display: flex;
    flex-direction: column;
    justify-content: center;

    & .about {
      display: flex;
      align-items: center;
      gap: 4rem;
      padding: 2rem 4.5rem;

      & .about-conf {
        width: fit-content;
      }
    }
  }

  @media (width <= 768px) {
    .conf {
      & .about {
        padding: 0;
        gap: 1rem;

        & .about-conf {
          & h2 {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
</style>
