---
import { Button, RadiusGradientFrame } from '@components';
---

<section>
  <RadiusGradientFrame class="event">
    <div class="event-info">
      <h1>¿Por qué la previa?</h1>
      <p>
        Queremos que todas las comunidades puedan vivir la experiencia de la JSConf, motivo por el
        cual La Previa ha sido coordinada.  Nuestro objetivo es fomentar la instancia de aprendizaje
        sin importar su nivel social y/o cultural acercandolos a la comunidad JavaScript Chile, a su
        vez potenciar el talento local y latinoamericano que permitirá crear también nexos entre sus
        participantes y compañías en busca de talentos.
      </p>
      <Button color="black" link="https://lu.ma/6tstu8yu" icon="arrow-up-right">Registrarme</Button>
    </div>
    <div class="event-specs">
      <img src="/assets/img/misc/por-que-la-previa.webp" alt="¿Por qué la previa?" />
    </div>
  </RadiusGradientFrame>
</section>

<style>
  .event {
    --border-width: 2px;
    --shadow: 0px 4px 85.3px 0px #55552e1a;
    --radius: 1rem;

    @media (width <= 768px) {
      --shadow: 0px 4px 85.3px rgba(64, 64, 64, 0.1);
      --radius: 0.5rem;
      --border-color: none;
      background: radial-gradient(95.25% 166.54% at 98.39% 2.85%, #272727 8%, rgba(9, 9, 7, 0) 80%),
        linear-gradient(0.07deg, rgba(64, 64, 64, 0.2) 0.03%, rgba(255, 255, 255, 0) 95.96%);
    }
  }

  .event {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 28rem;
    width: 100%;
    max-width: 71rem;
    margin: 2rem auto;
    padding: 2rem 1rem;
    box-shadow: 0px 4px 85.3px 0px #55552e1a;
    background:
      linear-gradient(0, #ececec, #ececec) padding-box,
      #ececec border-box;

    @media (width <= 768px) {
      --shadow: 0px 4px 85.3px rgba(64, 64, 64, 0.1);
      --radius: 10px;
      --border-color: none;
    }

    & .event-info {
      max-width: 44%;

      & h1 {
        text-wrap: balance;
        line-height: 1.2;
        text-transform: uppercase;
      }

      & p {
        margin-bottom: 2.5rem;
      }
    }
  }

  @media (width <= 768px) {
    .event {
      flex-direction: column-reverse;
      height: fit-content;
      justify-content: space-between;

      & .event-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        max-width: 100%;

        & h1 {
          font-size: 1.5rem;
        }
      }
    }
  }
</style>
