---
import { RadiusGradientFrame } from '@components';
---

<section class="views">
  <RadiusGradientFrame class="view-mode">
    <img src="/assets/img/laprevia-como-participar.webp" alt="La Previa JSConf Chile 2024" />
    <div class="view-info">
      <h3>¿Cómo participar en la previa?</h3>
      <p>
        Es muy sencillo. Para para participar en la previa sólo tienes que sintonizar la transmisión
        ese día (El 12 de Octubre del 2024) desde la página de la JSConf Chile.
      </p>
    </div>
  </RadiusGradientFrame>

  <RadiusGradientFrame class="view-mode">
    <img src="/assets/img/laprevia-que-esperar.webp" alt="La Previa JSConf Chile 2024" />
    <div class="view-info">
      <h3>¿Qué esperar de la previa?</h3>
      <p>
        En La Previa aprenderás de expertos/references en el área de JS. Tendremos diversos temas
        para personas sin y con experiencia. Pero hay más. Además, podrás ganar entradas para la
        JSConf y membresías sorpresas.
      </p>
    </div>
  </RadiusGradientFrame>
</section>

<style>
  .view-mode {
    --border-width: 2px;
    --shadow: 0px 4px 85.3px 0px #55552e1a;
    --radius: 1rem;

    @media (width <= 768px) {
      --shadow: 0px 4px 85.3px rgba(64, 64, 64, 0.1);
      --radius: 0.5rem;
      --border-color: none;
      background: radial-gradient(95.25% 166.54% at 98.39% 2.85%, #272727 8%, rgba(9, 9, 7, 0) 80%),
        linear-gradient(0.07deg, rgba(64, 64, 64, 0.2) 0.03%, rgba(255, 255, 255, 0) 95.96%);
    }
  }

  .views {
    width: 100%;
    max-width: 71rem;
    margin: 2rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

    & .view-mode {
      max-width: 34.75rem;
      width: 100%;
      min-height: 28rem;
      border-radius: 1rem;
      box-shadow: 0px 4px 85.3px 0px #55552e1a;
      background:
        linear-gradient(0, #ececec, #ececec) padding-box,
        #ececec border-box;

      & .view-info {
        padding: 2rem 4rem 0;

        & h3 {
          text-wrap: balance;
        }
      }
    }
  }

  @media (width <= 768px) {
    .views {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      & .view-mode {
        max-width: 100%;
        min-height: fit-content;

        & img {
          width: 100%;
          object-fit: cover;
        }

        & .view-info {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 0 1rem;
          text-align: center;
          min-height: 250px;

          & h3 {
            font-size: 1.75rem;
            margin: 1rem 0;
            line-height: 1.1;
          }
        }
      }
    }
  }
</style>
