---
import Button from '../Button.astro';
import Logo from './Logo.astro';
---

<header class="header">
  <div class="nav-wrapper">
    <a class="logo" aria-label="JSConf Chile 2024" href="/">
      <Logo />
    </a>

    <Button
      variant="stroke"
      size="fit"
      color="black"
      link="https://jsconf.cl/"
      icon="arrow-up-right"
    >
      JSConf Chile 2024
    </Button>
  </div>
</header>

<style>
  .header {
    --nav-height: 4.5rem;

    z-index: 1100;
    height: var(--nav-height);
    position: sticky;
    inset-inline: 0;
    inset-block-start: 0;
    backdrop-filter: blur(1.5rem);
    background-color: rgb(from var(--bg-color) r g b / 0.6);

    & .nav-wrapper {
      margin: auto;
      height: 100%;
      width: min(80rem, 100vw);

      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    @media (width < 80rem) {
      & .nav-wrapper {
        padding-inline: 1rem;
      }
    }
  }
</style>
