---
import { TabsSchedule } from '@components';
import Layout from '@layouts/Layout.astro';
import agenda from '@data/agenda/agenda.json';
---

<Layout
  title="JSConf Chile 2024 | Agenda"
  description="Descubre la agenda de JSConf Chile 2024. Explora las charlas y workshops programados del 5 al 7 de diciembre en Santiago, con expertos en JavaScript y tecnología web. ¡Planifica tu experiencia ahora!"
  ogImg="agenda.png"
>
  <h1 class="title-page">AGENDA DE LA CONFERENCIA</h1>
  <p class="description-page">
    Lorem ipsum dolor sit amet consectetur. Eget eget eu imperdiet quis molestie nulla.
  </p>
  <TabsSchedule
    data={[
      {
        status: 'open',
        triggerTitle: 'Viernes 00 Nov'
      },
      {
        status: 'closed',
        triggerTitle: 'Sábado 00 Nov'
      },
      {
        status: 'closed',
        triggerTitle: 'Domingo 00 Nov'
      }
    ]}
    agendaData={agenda}
  />
</Layout>

<style>
  .title-page {
    color: var(--white);
    font-family: Barlow;
    font-size: 48px;
    font-weight: 700;
    line-height: 61.5px;
    letter-spacing: -0.012em;
    text-align: center;
    position: relative;
    display: grid;
    place-items: center;

    &::before {
      --scaleX: 0.8;
      --scaleY: 2;
      --blur: 10px;
      --bg-radial: 43.41%;
    }
    @media (width <= 720px) {
      height: 170px;
      max-width: 490px;
      margin: 0 auto;
      &::before {
        --scaleX: 1;
        --scaleY: 0.78;
        --blur: 30px;
        --bg-radial: 89.41%;
      }
    }
    &::before {
      content: '';
      background: radial-gradient(
        var(--bg-radial) var(--bg-radial) at 50% 50%,
        rgba(92, 92, 92, 0.5) 0%,
        rgba(63, 63, 59, 0) 100%
      );
      width: 100%;
      height: 100%;
      position: absolute;
      inset: 0;
      z-index: -1;
      transform: scale(var(--scaleX), var(--scaleY));
      filter: blur(var(--blur));
    }
  }
  .description-page {
    font-family: Barlow;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    color: var(--white);
    margin: 0 auto;
    margin-bottom: 3rem;
    height: 28px;

    @media (width <= 720px) {
      max-width: 325px;
      height: 56px;
    }
  }
</style>
