---
import { Slider } from '@components';
---

<section class="communities">
  <h2 class="communities-title">COMUNIDADES AMIGAS</h2>
  <Slider />
</section>

<style>
  .communities {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 8rem auto;
    overflow: hidden;
    width: 100%;

    & .communities-title {
      text-align: center;
    }
  }
</style>
