---
import { Button, SpeakerCard } from '@components';

const speakers = [
  {
    imgSrc: 'assets/img/speakers/estefany-aguilar-restrepo/estefany-aguilar-restrepo-1.webp',
    speakerName: 'Estefany Aguilar',
    company: 'Platzi',
    link: '/charlistas/estefany-aguilar-restrepo'
  },
  {
    imgSrc: 'assets/img/speakers/midudev/midudev.webp',
    speakerName: 'Miguel Ángel Durán',
    company: 'Midudev',
    link: '/charlistas/midudev'
  },
  {
    imgSrc: 'assets/img/speakers/lewis-liu/lewis-liu-1.webp',
    speakerName: 'Lewis Liu',
    company: 'Reflame',
    link: '/charlistas/lewis-liu'
  },
  {
    imgSrc: 'assets/img/speakers/rita-kozlov/rita-kozlov-1.webp',
    speakerName: 'Rita Kozlov',
    company: 'Cloudflare',
    link: '/charlistas/rita-kozlov'
  },
  {
    imgSrc: 'assets/img/speakers/maja-wichrowska/maja-wichrowska-1.webp',
    speakerName: 'Maja Wichrowska',
    company: 'Notion',
    link: '/charlistas/maja-wichrowska'
  },
  {
    imgSrc: 'assets/img/speakers/juan-pablo-ortiz/juan-pablo-ortiz-1.webp',
    speakerName: 'Juan Pablo Ortiz',
    company: 'Audible - Amazon',
    link: '/charlistas/juan-pablo-ortiz'
  }
];
---

<section class="speakers">
  <div class="speakers-info">
    <h2>NUESTROS CHARLISTAS</h2>
    <p>
      Unete a la primera edición de las más prestigiosa conferencia de Javascript con exponentes
      nacionales e internacionales
    </p>
  </div>

  <div class="speakers-wrapper">
    {
      speakers.map(speaker => (
        <SpeakerCard
          imgSrc={speaker.imgSrc}
          speakerName={speaker.speakerName}
          company={speaker.company}
          link={speaker.link}
        />
      ))
    }
  </div>

  <Button icon="arrow-up-right" link="/charlistas">Ver más</Button>
</section>

<style>
  .speakers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin: 8rem auto;

    & .speakers-info {
      max-width: 560px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2rem;

      & p {
        text-align: center;
      }
    }

    & .speakers-wrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 1.5rem;
    }
  }

  @media (width <= 768px) {
    .speakers {
      & .speakers-wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
      }
    }
  }
</style>
