---
import { Button, RadiusGradientFrame } from '@components';
---

<section class="sponsors-principal">
  <div class="sponsors-info">
    <img src="/assets/img/misc/volcan-info-sponsors.webp" alt="Volcán Osorno" />
    <div class="sponsors-desc">
      <h2>Nuestros sponsors</h2>
      <p>
        Asóciate con JSConf Chile como patrocinador y posiciona tu marca en la vanguardia de la
        industria tecnológica. Esta oportunidad única te permite conectar con líderes de
        pensamiento, ganar una exposición significativa y contribuir al crecimiento de la comunidad
        tecnológica. Tu apoyo ayuda a fomentar la innovación y conectar con una audiencia diversa.
      </p>
      <Button color="white" icon="star" link="/sponsors">Quiero ser sponsor</Button>
    </div>
  </div>
  <RadiusGradientFrame class="sponsors-platinum">
    <div class="principal-title">
      <img src="/assets/img/misc/platinum-sponsor.webp" alt="Platinum Sponsor" />
      <h2>Platinum Sponsor</h2>
    </div>
    <div class="sponsors-platinum-logos">
      <a
        class="platinum-1"
        href="https://www.heroku.com/home"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img src="/assets/img/sponsors/heroku.svg" alt="heroku from salesforce" />
      </a>
      <a
        class="platinum-2"
        href="https://cloud.google.com/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img src="/assets/img/sponsors/Google-Cloud.webp" alt="google cloud" />
      </a>
    </div>
    <!-- <Button variant="ghost" link="#" icon="arrow-up-right">Ver más</Button> -->
  </RadiusGradientFrame>
</section>

<section class="sponsors">
  <RadiusGradientFrame class="sponsors-gold">
    <div class="principal-title">
      <img src="/assets/img/misc/gold-sponsor.webp" alt="Gold Sponsor" />
      <h2>Gold Sponsor</h2>
    </div>
    <div class="sponsors-logos">
      <a href="https://audienceview.com/" target="_blank" rel="noopener noreferrer">
        <img src="/assets/img/sponsors/AudienceView-Logo.webp" alt="AudienceView" />
      </a>
      <a href="https://front.com/" target="_blank" rel="noopener noreferrer">
        <img src="/assets/img/sponsors/front.svg" alt="Front" />
      </a>
    </div>
    <!-- <Button variant="ghost" link="#" icon="arrow-up-right">Ver más</Button> -->
  </RadiusGradientFrame>
  <RadiusGradientFrame class="sponsors-bronze">
    <div class="principal-title">
      <img src="/assets/img/misc/bronze-sponsor.webp" alt="Gold Sponsor" />
      <h2>Bronze Sponsor</h2>
    </div>
    <div class="sponsors-logos">
      <img src="/assets/img/sponsors/BCI-Logo.webp" alt="BCI" />
      <img src="/assets/img/sponsors/Cloudflare-Logo.webp" alt="Cloudflare" />
      <img src="/assets/img/sponsors/boolean.webp" alt="Boolean Academy" />
      <img src="/assets/img/sponsors/deno.svg" alt="Deno" />
      <img src="/assets/img/sponsors/airbo.webp" alt="Airbo" />
    </div>
  </RadiusGradientFrame>
</section>

<style>
  .sponsors-principal {
    width: 100%;
    max-width: 71rem;
    margin: 8rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

    & .sponsors-info {
      display: flex;
      align-items: center;
      max-width: 535px;
      gap: 4rem;
      padding: 2rem 0;
      flex-basis: 50%;
      flex-grow: 1;

      & p {
        margin: 2rem 0;
      }
    }

    & .sponsors-platinum {
      --border-color: linear-gradient(327deg, #fff 31.78%, #272727 63.2%, #656565 93.99%);
      --border-width: 2px;
      --shadow: 0px 4px 85.3px rgba(85, 85, 46, 0.1);
      --radius: 20px;

      @media (width <= 768px) {
        --shadow: 0px 4px 85.3px rgba(64, 64, 64, 0.1);
        --radius: 10px;
        --border-color: linear-gradient(327deg, #fff 31.78%, #272727 63.2%, #656565 93.99%);

        background: radial-gradient(
            95.25% 166.54% at 98.39% 2.85%,
            #272727 8%,
            rgba(9, 9, 7, 0) 80%
          ),
          linear-gradient(0.07deg, rgba(64, 64, 64, 0.2) 0.03%, rgba(255, 255, 255, 0) 95.96%);
      }
    }

    & .sponsors-platinum {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      padding: 1.75rem;
      min-height: 18.75rem;
      height: fit-content;
      width: 34.75rem;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      flex-basis: 50%;
      flex-grow: 1;

      background: radial-gradient(95.25% 166.54% at 98.39% 2.85%, #272727 8%, rgba(9, 9, 7, 0) 80%),
        linear-gradient(0.07deg, rgba(64, 64, 64, 0.2) 0.03%, rgba(255, 255, 255, 0) 95.96%);

      & .principal-title {
        display: flex;
        align-items: center;

        & img {
          width: 64px;
        }
      }

      & .sponsors-platinum-logos {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2.5rem;
        flex-wrap: wrap;
        padding: 2rem 1rem 0;

        & .platinum-1 {
          max-width: 21.25rem;
        }

        & .platinum-2 {
          max-width: 25rem;
        }
      }
    }
  }

  .sponsors {
    width: 100%;
    max-width: 71rem;
    margin: 8rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    & .sponsors-gold {
      --border-color: linear-gradient(180deg, #2a2401 0%, #9a8025 39.57%, #ede060 100%);
      --border-width: 2px;
      --shadow: 0px 4px 85.3px rgba(85, 85, 46, 0.1);
      --radius: 20px;

      @media (width <= 768px) {
        --shadow: 0px 4px 85.3px rgba(64, 64, 64, 0.1);
        --radius: 10px;
        --border-color: linear-gradient(
          90deg,
          #090907 46.45%,
          #1d1b0e 63.08%,
          #413e21 78.39%,
          #aaa255 86.07%
        );

        background:
          linear-gradient(90deg, var(--bg-color), var(--bg-color)) padding-box,
          var(--gradient-2) border-box;
      }
    }

    & .sponsors-gold {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      height: 300px;
      width: 100%;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

      background: linear-gradient(0.07deg, rgba(80, 72, 29, 0.2) 0.03%, rgba(0, 0, 0, 0) 95.96%),
        radial-gradient(
          95.25% 166.54% at 98.39% 2.85%,
          rgba(54, 53, 38, 0.62) 8%,
          rgba(9, 9, 7, 0) 80%
        );

      & .principal-title {
        display: flex;
        align-items: center;

        & img {
          width: 64px;
        }
      }

      & .sponsors-logos {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 6rem;
        flex-wrap: wrap;
        padding: 0 1rem;

        & img {
          max-height: 4rem;
        }
      }
    }

    & .sponsors-bronze {
      --border-color: linear-gradient(327deg, #2d2d2d 31.78%, #2a1701 63.2%, #60301f 93.99%);
      --border-width: 2px;
      --shadow: 0px 4px 85.3px rgba(85, 85, 46, 0.1);
      --radius: 20px;

      @media (width <= 768px) {
        --shadow: 0px 4px 85.3px rgba(64, 64, 64, 0.1);
        --radius: 10px;
        --border-color: linear-gradient(327deg, #2d2d2d 31.78%, #2a1701 63.2%, #60301f 93.99%);

        background:
          linear-gradient(90deg, var(--bg-color), var(--bg-color)) padding-box,
          var(--gradient-2) border-box;
      }
    }

    & .sponsors-bronze {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      height: 300px;
      width: 100%;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

      background: linear-gradient(0deg, rgba(54, 28, 19, 0.2) 0.03%, rgba(0, 0, 0, 0) 95.96%),
        radial-gradient(
          95.25% 166.54% at 98.39% 2.85%,
          rgba(54, 28, 19, 0.2) 8%,
          rgba(0, 0, 0, 0) 80%
        );

      & .principal-title {
        display: flex;
        align-items: center;

        & img {
          width: 64px;
        }
      }

      & h2 {
        margin: 0;
      }

      & .sponsors-logos {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        padding: 0 1rem;
        flex-wrap: wrap;
        & img {
          max-height: 60px;
        }
      }
    }
  }
  @media (width <= 768px) {
    .sponsors-principal {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      margin: 3rem 0;

      & .sponsors-info {
        width: 100%;
        gap: 1rem;
        flex-basis: auto;
      }

      & .sponsors-platinum {
        width: 100%;
        flex-basis: auto;

        & .principal-title {
          flex-direction: column;
          gap: 0.15rem;
          width: 100%;
        }

        & .sponsors-platinum-logos {
          & .platinum-1 {
            max-width: 100%;
          }

          & .platinum-2 {
            max-width: 100%;
          }
        }
      }
    }

    .sponsors {
      margin: 1rem 0 8rem;
      & .sponsors-gold {
        height: fit-content;
        padding: 1rem 0 2rem;

        & .sponsors-logos {
          margin-top: 2rem;
          flex-wrap: wrap;
          gap: 3rem;
          padding: 0 2rem;
          & img {
            max-height: 60px;
          }
        }
      }

      & .sponsors-bronze {
        height: fit-content;
        padding: 1rem 0 2rem;
        & .sponsors-logos {
          margin-top: 2rem;
          flex-wrap: wrap;
          gap: 2rem;
          padding: 0 2rem;
          & img {
            max-height: 60px;
          }
        }
      }
    }
  }
</style>
