---
import Layout from '@layouts/Layout.astro';
---

<Layout
  title="JSConf Chile 2024 | CFP"
  description="Envía tu propuesta para JSConf Chile 2024. Comparte tus conocimientos en JavaScript y desarrollo web con la comunidad tech. Abierto hasta 27 de abril. ¡Postula y sé parte de los speakers del 5 al 7 de diciembre en Santiago!"
>
  <p>Página de CFP</p>
</Layout>
