---
import Layout from '@layouts/Layout.astro';
---

<Layout
  title="JSConf Chile 2024 | Código de conducta"
  description="Conoce el Código de Conducta de JSConf Chile 2024. Fomentamos un ambiente inclusivo, respetuoso y seguro para todos los participantes. Aprende sobre nuestras políticas para una experiencia positiva del 5 al 7 de diciembre en Santiago."
>
  <p>Página de Código de conducto</p>
</Layout>
