---
import HeroSection from '@sections/FAQs/HeroSection.astro';
import FAQsCard from '@components/FAQsCard.astro';
import Layout from '@layouts/Layout.astro';

const faqs = [
  {
    question: '¿Cuales son los tamaños de las poleras?',
    answer: '-'
  },
  {
    question: '¿Cuánto cuesta la entrada para la conferencia?',
    answer: '-'
  },
  {
    question: '¿Qué obtengo con la compra de la entrada presencial?',
    answer:
      'Actualmente la entrada incluye los coffee breaks y almuerzos de ambos días y una bolsa con Swags. Además de las charlas donde tendremos tanto speaker nacionales como internacionales, habrán stands de nuestros sponsors, con los cuales podrás conversar y aclarar todas tus dudas con respecto a ellos. A su vez, tendremos traductores para las distintas charlas, ya que habrán charlas que serán en Inglés y otras en español.'
  },
  {
    question: '¿Qué pasa si compro mi entrada y me escogen como voluntario?',
    answer: '-'
  },
  {
    question: '¿Qué requisitos tengo que cumplir para calificar para la entrada de estudiante?',
    answer: '-'
  },
  {
    question: '¿Habrán traductores para las distintas charlas?',
    answer: '-'
  },
  {
    question: '¿Habrán opciones veganas en el coffee break y el almuerzo?',
    answer: '-'
  },
  {
    question: '¿Desde que hora comienza la conferencia?',
    answer: '-'
  },
  {
    question: '¿Será presencial y/o online?',
    answer: '-'
  },
  {
    question: '¿Cómo podemos saber quienes serán los charlistas?',
    answer: '-'
  },
  {
    question: '¿Cómo sé si mi charla quedó aceptada?',
    answer: '-'
  },
  {
    question: '¿Cuándo estará abierta la inscripción a los CFP?',
    answer: '-'
  },
  {
    question: '¿Qué es la Conferencia de Javascript?',
    answer: '-'
  }
];
---

<Layout
  title="JSConf Chile 2024 | FAQs"
  description="Resuelve tus dudas sobre JSConf Chile 2024 en nuestra página de Preguntas Frecuentes. Encuentra información sobre entradas, ubicación, agenda y más para el evento del 5 al 7 de diciembre en Santiago."
>
  <HeroSection />
  <div class="faq-wrapper">
    {
      faqs.map((faq, index) => (
        <FAQsCard question={faq.question} answer={faq.answer} index={index} />
      ))
    }
  </div>
</Layout>

<style>
  .faq-wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 24px 0;
  }
</style>
