---
import Layout from '@layouts/Layout.astro';
---

<Layout
  title="JSConf Chile 2024 | Ubicación"
  description="Descubre la ubicación de JSConf Chile 2024. El evento se llevará a cabo del 5 al 7 de diciembre en Santiago. Encuentra direcciones, transporte y recomendaciones para planificar tu visita a la conferencia de JavaScript."
>
  <p>Página de ubicación</p>
</Layout>
