---
import { Icon } from 'astro-icon/components';
import Bento from '@components/Bento.astro';
import Layout from '@layouts/Layout.astro';
---

<!-- La Imagen .png es para el ejemplo de este componente -->
<Layout
  title="JSConf Chile 2024 | ¿Por qué?"
  description="Descubre por qué JSConf Chile 2024 es el evento imperdible para los entusiastas de JavaScript. Explora nuestros valores, objetivos y lo que hace única a esta conferencia del 5 al 7 de diciembre en Santiago."
>
  <Bento>
    <Icon name="share" slot="bento-square" width={72} height={72} />
    <h2 slot="bento-square">Conecta</h2>
    <p slot="bento-square">
      Con tus pares, mentores y empresas de primer nivel! Crea amistades ayúdanos a forma una mejor
      y más diversa comunidad tecnológica!
    </p>
    <img src="/assets/JSConf-Chile-entrada.webp" slot="bento-image" alt="JSConf Chile" />
  </Bento>

  <Bento reverse>
    <Icon name="lightbulb" slot="bento-square" width={72} height={72} />
    <h2 slot="bento-square">Inspirate</h2>
    <p slot="bento-square">
      JSConf ha sido el punto de lanzamiento de algunos de los productos, servicios y tecnologías
      más revolucionarios de la web como por ejemplo NodeJS y Deno. No te pierdas esta oportunidad!
    </p>
    <img src="/assets/JSConf-Chile-charlista.webp" slot="bento-image" alt="JSConf Chile" />
  </Bento>

  <Bento>
    <Icon name="book-open" slot="bento-square" width={72} height={72} />
    <h2 slot="bento-square">Aprende</h2>
    <p slot="bento-square">
      Con expositores locales e internacionales que empujan los límites de lo concebible utilizando
      JavaScript. Entérate de cómo se busca revolucionar las tecnologías web para los próximos años!
    </p>
    <img src="/assets/JSConf-Chile-publico.webp" slot="bento-image" alt="JSConf Chile" />
  </Bento>
</Layout>
<style></style>
