---
import type { SponsorTier } from '@contracts/sponsor.types';
import HeroSection from '@sections/sponsors/HeroSection.astro';
import SponsorCard from '@components/SponsorCard.astro';
import Layout from '@layouts/Layout.astro';

const sponsors = await Astro.glob('/src/data/sponsors/*.md');
---

<Layout title="JSConf Chile 2024">
  <HeroSection />

  <section class="sponsors">
    {
      sponsors.map(({ file, Content }) => (
        <SponsorCard
          category={file.split('/').pop()!.replace('.md', '') as SponsorTier}
          Content={Content}
        />
      ))
    }
  </section>
</Layout>

<style>
  .sponsors {
    gap: 4rem;
    display: flex;
    padding-block: 4rem;
    flex-direction: column;
  }
</style>
