---
import HeroSection from '@sections/sponsors/HeroSection.astro';
import SponsorCard from '@components/SponsorCard.astro';
import Layout from '@layouts/Layout.astro';

const sponsors = await Astro.glob('/src/data/sponsors/*.md');
---

<Layout title="JSConf Chile 2024">
  <main class="~p-4/8">
    <HeroSection />
    {
      sponsors.map(({ file, Content }) => (
        <SponsorCard category={file.split('/').pop()!.replace('.md', '')} Content={Content} />
      ))
    }
  </main>
</Layout>

<style>
  .\~p-4\/8 {
    padding: clamp(1rem, 0.29rem + 1.79vw, 2rem);
  }
  main {
    max-width: 1133px;
    margin: 0 auto;
    display: grid;
    gap: 4rem;
  }
</style>
