---
import Button from '@components/Button.astro';
import LoadTicket from '@components/LoadTicket';
import Layout from '@layouts/Layout.astro';

const list = [
  'Day 1: World-class talks at the Miami Beach Convention Center',
  'Day 2: Expert-led Mini Masterclasses and Unconference',
  'Opening Party featuring React Miami talent show',
  'Afterparty conference finale',
  'Full access to 2-days at eMerge Americas',
  'Choose Your Own Adventure Developer Health morning activity',
  'Lunch, light breakfast, snack breaks, and all-day coffee',
  'An unforgettable time with the React community in Miami'
];
---

<Layout
  title="JSConf Chile 2024 | Tickets"
  description="Compra tus tickets para JSConf Chile 2024. Asegura tu entrada a la conferencia de JavaScript del 5 al 7 de diciembre en Santiago. No te pierdas charlas, talleres y networking con expertos del sector."
>
  <section class="ticket-section">
    <div class="ticket-info">
      <div class="ticket-image">
        <img class="desktop" src="/assets/hero-tickets.png" alt="Tickets" />
        <img class="movil" src="/assets/dec-hero-movil.png" alt="Tickets" />
      </div>
      <div class="ticket-content">
        <h1>Tickets</h1>
        <p>
          Your React Miami ticket includes, full access to eMerge Americas, world-class speaker
          sessions, expert-led mini masterclasses, an unconference, social activities, and more.
        </p>
      </div>
      <div>
        <Button variant="solid" color="yellow" size="large" link="#" icon="arrow-up-right"
          >Ser sponsor</Button
        >
      </div>
    </div>
    <div class="ticket-3d-view">
      <LoadTicket client:load tag="ticket.glb" band="band.png" />
    </div>
  </section>
  <section class="features-section">
    <div class="feature-image">
      <img src="/assets/craft-hyper-realistics.png" alt="Craft Hyper Realistics" />
      <span class="image-caption">
        <b>Capillas de mármol</b>, - Región de Aysén.
      </span>
    </div>
    <div class="feature-content">
      <h2>What’s included</h2>
      <ul>
        {list.map(item => <li>{item}</li>)}
      </ul>
    </div>
  </section>
</Layout>

<style>
  .ticket-section {
    display: flex;
    justify-content: center;
    gap: 4rem;
    align-items: center;

    @media (max-width: 1080px) {
      flex-direction: column;
    }

    .ticket-info {
      display: grid;
      grid-template-columns: 60px 1fr;
      column-gap: 1rem;
      :nth-child(3) {
        grid-column: 2;
        @media (max-width: 1080px) {
          display: flex;
          justify-content: center;
          grid-column: 1 / -1;
          margin-top: 1rem;
        }
      }
        @media (min-width: 1080px) {
          padding-top: 4rem;
          padding-bottom: 4rem;
        }
      .ticket-image {
        width: 70px;
        @media (max-width: 1080px) {
          .desktop {
            display: none;
          }
        }
        @media (min-width: 1080px) {
          .movil {
            display: none;
          }
        }
      }

      .ticket-content {
        h1 {
          font-family: Barlow;
          font-size: 40px;
          font-weight: 600;
          line-height: 36px;
          letter-spacing: -0.0075em;
          text-align: left;
        }

        p {
          font-family: Barlow;
          font-size: 16px;
          font-weight: 400;
          line-height: 28px;
          max-width: 550px;
        }
      }
    }

    .ticket-3d-view {
      width: 50%;
      height: 263px;

      @media (max-width: 1080px) {
        order: -1;
        height: 80dvh;
        width: 100%;
      }
    }
  }

  .features-section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    align-items: center;
    margin: 5rem 0;

    @media (min-width: 1080px) {
      grid-template-columns: 1fr 1fr;
    }

    .feature-image {
      text-align: center;

      @media (min-width: 1080px) {
        max-width: 550px;
        text-align: right;
      }

      .image-caption {
        font-family: Inconsolata;
        font-size: 12px;
        font-weight: 700;
        line-height: 24px;
        text-align: left;

        b {
          color: var(--yellow);
        }
      }
    }

    .feature-content {
      h2 {
        font-family: Barlow;
        font-size: 40px;
        font-weight: 700;
        line-height: 61.5px;
        letter-spacing: -0.012em;
      }

      li {
        font-family: Barlow;
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
      }
    }
  }
</style>
