---
import Layout from '@layouts/Layout.astro';
---

<Layout
  title="JSConf Chile 2024 | Tickets"
  description="Compra tus tickets para JSConf Chile 2024. Asegura tu entrada a la conferencia de JavaScript del 5 al 7 de diciembre en Santiago. No te pierdas charlas, talleres y networking con expertos del sector."
>
  <p>Página de Ticketes</p>
</Layout>
