---
import Layout from '@layouts/Layout.astro';
---

<Layout
  title="JSConf Chile 2024 | Voluntarios"
  description="Únete como voluntario en JSConf Chile 2024. Ayuda a hacer posible la conferencia de JavaScript más grande de Chile y disfruta de una experiencia única del 5 al 7 de diciembre en Santiago. ¡Inscríbete y colabora!"
>
  <p>Página de Voluntarios</p>
</Layout>
