---
import Button from '@components/Button.astro';
import Layout from '@layouts/Layout.astro';
---

<Layout
  title="JSConf Chile 2024 | Voluntarios"
  description="Únete como voluntario en JSConf Chile 2024. Ayuda a hacer posible la conferencia de JavaScript más grande de Chile y disfruta de una experiencia única del 5 al 7 de diciembre en Santiago. ¡Inscríbete y colabora!"
>
  <section class="hero">
    <div class="hero--content">
      <img src="/assets/sun.webp" alt="sun icon" class="hero--decoration" />
      <div class="hero--content--text">
        <h2>REGISTRO DE VOLUNTARIOS</h2>
        <p>
          JSconf es un evento Open Source, sin fines de lucro, realizado por la comunidad y para la
          comunidad. Vamos a necesitar muchas manos, ya que hay muchas tareas por hacer. Por eso,
          necesitamos de tu ayuda para hacer la JSConf el evento más grande de tecnología de Chile.
        </p>
        <div class="hero--actions">
          <Button variant="solid" color="yellow" size="large" link="#" icon="arrow-up-right"
            >Quiero ser voluntario</Button
          >
        </div>
      </div>
    </div>
    <div class="hero--asset">
      <img
        src="/assets/volunteers.webp"
        alt="voluntarios 1"
        loading="lazy"
        decoding="async"
        width="720"
        sizes="(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px"
      />
    </div>
  </section>
  <section class="volunteers-wrapper">
    <div class="volunteers">
      <img
        src="/assets/volunteers-2.webp"
        alt="voluntarios 2"
        loading="lazy"
        decoding="async"
        width="720"
        sizes="(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px"
      />
      <div class="volunteers-info">
        <h2 class="info-title">¿Qué necesitamos de ti?</h2>
        <ul>
          <li>Vamos a trabajar un poco antes de la conferencia, genial si te puedes sumar.</li>
          <li>Vamos a llegar un poco antes, e irnos un poco después los días del evento.</li>
          <li>Tenemos que coordinar el registro de los speakers/conferencistas y asistentes.</li>
          <li>Estaremos ayudando a los speakers/conferencistas durante la conferencia.</li>
          <li>¡Buena Onda!</li>
        </ul>
      </div>
    </div>
    <div class="volunteers">
      <div class="volunteers-info">
        <h2 class="info-title">¿Qué necesitamos de ti?</h2>
        <ul>
          <li>Vamos a trabajar un poco antes de la conferencia, genial si te puedes sumar.</li>
          <li>Vamos a llegar un poco antes, e irnos un poco después los días del evento.</li>
          <li>Tenemos que coordinar el registro de los speakers/conferencistas y asistentes.</li>
          <li>Estaremos ayudando a los speakers/conferencistas durante la conferencia.</li>
          <li>¡Buena Onda!</li>
        </ul>
      </div>
      <img
        src="/assets/volunteers-3.webp"
        alt="voluntarios 3"
        loading="lazy"
        decoding="async"
        width="720"
        sizes="(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px"
      />
    </div>
  </section>
</Layout>

<style>
  .hero {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
    align-items: center;
    margin-bottom: 4rem;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .hero--content {
    display: grid;
    grid-template-columns: 80px 1fr;
    gap: 1rem;
    h1 {
      font-family: Barlow;
      font-size: 30px;
      font-weight: 600;
      line-height: 36px;
      letter-spacing: -0.0075em;
      text-align: left;
      margin-bottom: 2rem;
    }
    p {
      font-family: Barlow;
      font-size: 16px;
      font-weight: 400;
      line-height: 28px;
      text-align: left;
      max-width: 560px;
    }
  }
  .hero--actions {
    margin-top: 2rem;
  }

  .volunteers {
    display: flex;
    flex-direction: row;
    gap: 4rem;

    img {
      min-width: 538px;
      min-height: 395px;
      border-radius: 1rem;
    }

    .volunteers-info {
      position: relative;
      z-index: 1;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1.5rem;
      text-decoration: none;
      padding: 0.5rem 1.5rem;
      border-radius: 1rem;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 1rem;
        padding: 2px;
        background: var(--gradient-card-agenda);
        -webkit-mask:
          linear-gradient(#fff 0 0) content-box,
          linear-gradient(#fff 0 0);
        mask:
          linear-gradient(#fff 0 0) content-box,
          linear-gradient(#fff 0 0);
        mask-composite: exclude;
        z-index: -1;
      }
    }

    volunteers-info {
      width: 100%;
    }
  }
  .volunteers-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
  }
  @media (max-width: 1280px) {
    .hero {
      grid-template-columns: 1fr;
      justify-items: center;
    }
    .hero--content {
      place-content: center;
      order: 2;
      .hero--content__actions {
        display: block;
        margin-top: 1rem;
        a {
          color: var(--yellow);
          text-decoration: underline;
        }
      }
    }
    .hero--asset {
      order: 1;
    }
    h1,
    .hero--actions {
      display: none;
    }
    .hero--asset--caption {
      text-align: center;
    }
    .volunteers {
      flex-direction: column;

      &:last-child {
        flex-direction: column-reverse;
      }
    }
  }
</style>
