---

---

<a href="#" class="card-body">
  <div class="speaker">
    <img src="imgs/midudev.png" alt="speaker-name" class="speaker-avatar" />
    <h3 class="speaker-name">Miguel Ángel "Midudev" Durán</h3>
  </div>
  <p class="card-info">Ingeniero de Software y Divulgador de Programación</p>
  <div class="speaker-brand">
    <img src="imgs/midulogo.png" alt="speaker-brand" />
  </div>
</a>

<style>
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 350px;
    width: fit-content;
    gap: 16px;
    padding: 24px;
    border-radius: 16px;
    text-decoration: none;
    background-color: var(--bg-color);
    position: relative;

    &::after {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      background-image: linear-gradient(258deg, #121212 7.65%, #1d1b0e 57.4%, #413e21 98.66%);
      border-radius: 16px;
      z-index: -1;
      padding: 3px;
      scale: 1.015;
    }

    .speaker {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 24px;

      .speaker-avatar {
        width: 85px;
        aspect-ratio: 1;
        border: 1px solid var(--white);
        border-radius: 100%;
        filter: grayscale();
      }
    }
    .card-info {
      text-align: center;
    }
  }
</style>
