---
import Button from '@components/Button.astro';
---

<section class="hero">
  <svg
    width="85"
    height="309"
    viewBox="0 0 85 309"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    class="hero--decoration"
  >
    <circle cx="42.5" cy="42.5" r="42.5" fill="url(#paint0_radial_0_1)"></circle>
    <path d="M43 309L43 85" stroke="url(#paint1_linear_0_1)" stroke-width="2"></path>
    <path
      d="M57.4377 49.968L56.3562 49.5097C54.3352 48.6526 52.4523 46.8751 51.1915 44.6317L46.1975 35.7538C42.8201 29.7501 38.0519 26.9235 34.0032 28.3647C33.8087 27.9176 33.5446 27.5221 33.2384 27.1647C33.9945 26.9616 34.9305 26.5704 35.5991 25.8074C36.9013 24.3215 36.6824 22 36.6824 22C36.6824 22 34.3524 22.0877 33.0502 23.5736C32.3694 24.3505 32.1083 25.3495 32.0104 26.1321C31.0187 25.5553 29.8255 25.3182 28.6115 25.5644L27.7851 25.7332C27.2539 25.8425 26.9117 26.3602 27.02 26.8913C27.1284 27.4244 27.6461 27.7676 28.1781 27.6583L29.0055 27.4895C30.4285 27.1856 31.7986 28.0022 32.2735 29.3422C28.7249 31.9845 28.5491 37.6063 32.0006 43.7419L36.9946 52.6198C38.2554 54.8632 38.7971 57.3943 38.4797 59.5648L38.31 60.7249C38.2554 61.095 38.3896 61.4669 38.6695 61.7201C38.8603 61.8926 39.171 62 39.45 62C39.5286 62 39.6053 61.9904 39.6753 61.9732C40.7903 61.6855 40.8756 61.6376 42.2897 60.8419C43.5445 60.1362 44.5577 59.0107 45.2717 57.6253C46.2809 58.3422 47.8492 59.2983 49.0545 59.2983C49.3498 59.2983 49.624 59.2408 49.8608 59.1066C51.0745 58.4248 51.1579 55.8642 51.088 54.3024C51.3182 54.3202 51.5519 54.3512 51.7773 54.3512C53.1253 54.3512 54.3841 54.0387 55.4693 53.427C56.8835 52.6313 56.9688 52.5833 57.7895 51.7838C58.0512 51.5326 58.1672 51.1644 58.1011 50.8001C58.0416 50.4761 57.7416 50.0964 57.4377 49.968ZM41.3271 59.1315C40.9369 59.3501 40.6666 59.5035 40.4537 59.6147C40.7634 57.0779 40.1316 54.1921 38.705 51.6572L33.712 42.7794C31.34 38.5629 30.3583 33.52 33.1118 31.1078L41.748 46.459C42.2081 47.2768 42.5846 48.0406 42.9191 48.7778C43.2221 49.4469 43.4836 50.0883 43.6846 50.6906C43.693 50.7157 43.7048 50.7431 43.713 50.768C43.9105 51.3701 44.0409 51.9294 44.136 52.4671C44.1599 52.604 44.1774 52.7373 44.1946 52.8703C44.2535 53.3148 44.2774 53.7384 44.2623 54.1388C44.2593 54.2146 44.2687 54.2974 44.2632 54.3717C44.2302 54.8155 44.1374 55.2252 44.0103 55.6158C43.9406 55.8336 43.8731 56.0528 43.7748 56.2553C43.2168 57.5496 42.3702 58.5448 41.3271 59.1315ZM48.8647 57.3214C48.3671 57.2121 47.2502 56.6925 46.0316 55.7587C46.05 55.6847 46.0453 55.6002 46.0612 55.5251C46.1433 55.1366 46.1947 54.7327 46.2144 54.3139C46.2224 54.1482 46.2282 53.9808 46.2265 53.8104C46.2212 53.37 46.1834 52.9134 46.1129 52.4401C46.0993 52.3493 46.107 52.2689 46.091 52.1769C46.1329 52.2133 46.1759 52.234 46.2179 52.2695C46.6202 52.6115 47.0259 52.9036 47.4345 53.1575C47.5434 53.2249 47.6532 53.2863 47.7627 53.3476C48.164 53.573 48.5684 53.7588 48.9764 53.9007C49.0218 53.9165 49.0655 53.9473 49.1111 53.962C49.2376 55.5324 49.0526 56.8248 48.8647 57.3214ZM54.5068 51.7167C53.4647 52.3015 52.18 52.5124 50.7352 52.3111C50.4916 52.2882 50.2494 52.2303 50.0071 52.1677C49.896 52.139 49.785 52.1086 49.6743 52.0715C49.4876 52.009 49.3013 51.931 49.1149 51.8446C49.0301 51.8053 48.945 51.7748 48.8603 51.7306C48.6031 51.5961 48.3465 51.4354 48.0898 51.2551C47.9879 51.1833 47.8862 51.099 47.7843 51.0199C47.6175 50.8906 47.4508 50.7535 47.284 50.6046C47.165 50.4981 47.0461 50.3882 46.927 50.2718C46.7745 50.1229 46.6222 49.9602 46.4698 49.7948C46.3486 49.6631 46.2277 49.5394 46.1063 49.3972C45.868 49.1184 45.6295 48.8177 45.3908 48.4986C45.2556 48.3179 45.1198 48.1185 44.9842 47.9245C44.4778 47.1996 43.9699 46.4052 43.4584 45.4965L34.8231 30.1453C38.3158 29.0542 42.1162 32.5019 44.4871 36.7164L49.4802 45.5942C50.9058 48.1291 53.0428 50.1674 55.3726 51.222C55.1664 51.3447 54.896 51.4981 54.5068 51.7167Z"
      fill="white"></path>
    <defs>
      <radialGradient
        id="paint0_radial_0_1"
        cx="0"
        cy="0"
        r="1"
        gradientUnits="userSpaceOnUse"
        gradientTransform="translate(42.5 42.5) rotate(90) scale(42.5)"
      >
        <stop stop-color="#88711F" stop-opacity="0.79"></stop>
        <stop offset="1" stop-color="#2A2401" stop-opacity="0"></stop>
      </radialGradient>
      <linearGradient
        id="paint1_linear_0_1"
        x1="42.5"
        y1="309"
        x2="42.5"
        y2="85"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#2A2401" stop-opacity="0.48"></stop>
        <stop offset="0.666667" stop-color="#9A8025" stop-opacity="0.62"></stop>
        <stop offset="1" stop-color="#88711F"></stop>
      </linearGradient>
    </defs>
  </svg>
  <div class="hero--content">
    <h1>OPORTUNIDADES DE SPONSOR</h1>
    <p>
      La JSConf Chile reunirá al mejor talento de ingeniería y del desarrollo de JS y el en una
      conferencia de dos días y un solo track, para hablar sobre el futuro de la JavaScript y la
      Web! ¡Con más de 400 desarrolladores de todo el mundo en vivo, y cientos más siguiendo la
      conferencia desde casa, patrocinar JsConf Chile es la mejor manera de conectarse con el mejor
      talento de JavaScript!
      <span class="hero--content__actions">
        ¿Interesado en patrocinar? Contáctenos para más detalles <a
          href="mailto:@sponsors@jsconf.cl">@sponsors@jsconf.cl</a
        >
      </span>
    </p>
    <div class="hero--actions">
      <Button variant="solid" color="yellow" size="large" link="#" icon="arrow-up-right"
        >Ser sponsor</Button
      >
    </div>
  </div>
  <div class="hero--asset">
    <img
      src="/volcan-osorno-regin-de-los-lagos.webp"
      alt="Volcán Osorno, Región de los Lagos"
      loading="lazy"
      decoding="async"
    />

    <div class="hero--asset--caption">
      <span>volcán Osorno - </span>Región de Los Lagos.
    </div>
  </div>
</section>

<style>
  h1 {
    font-size: clamp(1.5rem, 0.96rem + 1.34vw, 2.25rem);
    line-height: clamp(2rem, 1.64rem + 0.89vw, 2.5rem);
  }
  .\~text-5xl\/6xl {
    font-size: clamp(3rem, 2.46rem + 1.34vw, 3.75rem);
    line-height: clamp(3rem, 2.46rem + 1.34vw, 3.75rem);
  }
  li,
  p {
    font-size: clamp(1rem, 0.911rem + 0.223vw, 1.125rem);
    line-height: clamp(1.5rem, 1.32rem + 0.45vw, 1.75rem);
  }
  .hero {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 2rem;
    align-items: center;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    max-width: 406px;
  }
  .hero--content {
    h1 {
      font-family: Barlow;
      /* font-size: 30px; */
      font-weight: 600;
      /* line-height: 36px; */
      letter-spacing: -0.0075em;
      text-align: left;
    }
    p {
      font-family: Barlow;
      /* font-size: 16px; */
      font-weight: 400;
      line-height: 28px;
      text-align: left;
      max-width: 560px;
    }
    .hero--content__actions {
      display: none;
    }
  }
  .hero--asset {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .hero--asset--caption {
      font-family: Inconsolata;
      font-weight: 700;
      font-size: 12px;
      line-height: 24px;
      text-align: right;
      color: var(--white);
      & span {
        color: var(--yellow);
      }
    }
  }

  @media (max-width: 1024px) {
    .hero {
      grid-template-columns: fit-content 1fr;
      grid-template-rows: auto auto;
    }
    .hero--asset {
      grid-column: 1 / -1;
      order: 1;
      margin: 0 auto;
    }
    .hero--decoration {
      order: 2;
    }
    .hero--content {
      order: 3;
      .hero--content__actions {
        display: block;
        a {
          color: var(--yellow);
          text-decoration: underline;
        }
      }
    }
    h1,
    .hero--actions {
      display: none;
    }
    .hero--asset--caption {
      text-align: center;
    }
  }
</style>
