---
import Button from '@components/Button.astro';
import DateInfoHome from '@components/DateInfoHome.astro';
---

<section class="hero">
  <div class="hero-info">
    <img src="/assets/JSCONF.svg" alt="" />
    <p>
      Acompáñanos, en la primera edición Chilena, de la más prestigiosa conferencia de JavaScript. 2
      días de Charlistas internacionales, comunidad, aprendizaje y conexiones, este 5, 6 y 7 de
      diciembre, 2024
    </p>
    <div class="info-buttons">
      <Button color="white" link="/sponsors" icon="star"> Sponsor </Button>
      <Button variant="stroke" color="white" link="/tickets" icon="ticket"> Tickets </Button>
    </div>
  </div>
  <div class="hero-date">
    <DateInfoHome left="Place" right={'(“Santiago”);'} filled position="first" />
    <DateInfoHome left="Date" right={'(“Feb 00 2024”);'} filled position="second" />
    <DateInfoHome left="Time" right={'(“00:00”);'} filled position="third" />
    <DateInfoHome left="Torres del Paime -" right="Región del Magallanes" position="fourth" />
  </div>
</section>
<style>
  .hero {
    display: flex;
    align-items: center;
    padding: 4.5rem 3.45rem 0;

    & .hero-info {
      width: 40%;

      & p {
        max-width: 439px;
      }

      & .info-buttons {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 2rem 0;
      }
    }
    & .hero-date {
      width: 60%;
      height: 502px;
      background-image: url(/assets/torres-del-paine.avif);
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        background: radial-gradient(circle, transparent 25%, var(--bg-color) 65%);
        width: 683px;
        height: 502px;
      }
    }
  }
</style>
