---
import { Button, RadiusGradientFrame } from '@components';
import Layout from '@layouts/Layout.astro';
---

<Layout
  title="JSConf Chile 2024 | 404"
  description="Únete a JSConf Chile 2024, la conferencia de JavaScript más grande de Chile. Del 5 al 7 de diciembre en Santiago, descubre las últimas tendencias, tecnologías y redes con expertos en desarrollo web. ¡Reserva tu entrada ahora!"
  ogImg="/home.png"
>
  <section class="container-404">
    <RadiusGradientFrame class="error">
      <h1>404</h1>
      <p>La página que estas buscando no existe.</p>
      <Button link="/" size="large"> Volver al inicio </Button>
    </RadiusGradientFrame>
  </section>
</Layout>

<style>
  .container-404 {
    height: 70dvh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(circle, transparent 0%, var(--bg-color) 55%),
      url('/assets/img/torres-del-paine.avif');
    background-position: center;

    & .error {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      padding: 2rem 0;
      width: 27.5rem;
      height: 17.5rem;

      --border-color: linear-gradient(90deg, #2a2401 0%, #9a8025 39.57%, #ede060 100%);
      --border-width: 2px;
      --shadow: 0px 4px 85.3px 0px #55552e1a;
      --radius: 1rem;
      background: #090907b2;

      & h1 {
        font-family: monospace;
        font-size: 6rem;
        margin: 0;
      }

      & p {
        font-family: monospace;
        font-weight: 700;
      }
    }
  }

  @media (width <= 768px) {
    .container-404 {
      & .error {
        width: 20rem;
        height: 18.5rem;

        & p {
          text-align: center;
          text-wrap: balance;
        }
      }
    }
  }
</style>
