---
import { SponsorCard } from '@components';
import { SponsorsHeroSection as HeroSection } from '@sections';
import Layout from '@layouts/Layout.astro';

const sponsors = await Astro.glob('/src/data/sponsors/*.md');
---

<Layout
  title="JSConf Chile 2024 | Sponsors"
  description="Descubre los sponsors que hacen posible JSConf Chile 2024. Conoce a las empresas líderes que apoyan la conferencia de JavaScript más importante de Chile, del 5 al 7 de diciembre en Santiago."
  ogImg="sponsors.png"
>
  <div>
    <HeroSection />
    {
      sponsors.map(({ file, Content }) => (
        <SponsorCard category={file.split('/').pop()!.replace('.md', '')} Content={Content} />
      ))
    }
  </div>
</Layout>

<style>
  div {
    display: grid;
    gap: clamp(2rem, 4vw, 4rem);
  }
</style>
