<section class="hero">
  <div class="hero--content">
    <img src="/assets/img/misc/glass.webp" alt="bell icon" class="hero--decoration" />
    <div class="hero--content--text">
      <h2>Charlistas y workshops</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur. Sapien suspendisse semper ultrices scelerisque.
        Lobortis justo commodo sit mauris amet ac. Non molestie rhoncus senectus commodo. Velit non
        et sed vitae risus aliquam.
      </p>
    </div>
  </div>
  <div class="hero--asset">
    <img src="assets/img/desierto-floreado-atacama.webp" alt="Desierto florido de atacama" />
    <p class="hero--asset--caption">
      <span>Desierto florido de atacama - </span>Región de Atacama.
    </p>
  </div>
</section>

<style>
  .hero {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin-bottom: 8rem;

    & .hero--content {
      display: flex;
      align-items: center;
      gap: 4rem;
      max-width: 560px;

      & .hero--content--text {
        display: flex;
        flex-direction: column;
        gap: 2rem;
      }
    }

    & .hero--asset {
      display: flex;
      flex-direction: column;
      align-items: end;

      & .hero--asset--caption {
        font-family: monospace;
        font-size: 0.75rem;

        & span {
          color: var(--yellow);
        }
      }
    }
  }

  @media (width < 768px) {
    .hero {
      flex-direction: column-reverse;

      & .hero--asset {
        align-items: center;
      }
    }
  }
</style>
