---
import { SpeakerCard } from '@components';
import speakers from '../../data/speakers/charlistas.json';
---

<div class="speakers-wrapper">
  {
    speakers.map(speaker => (
      <SpeakerCard
        imgSrc={speaker.imgSrc}
        speakerName={speaker.fullName}
        speakerInfo={speaker.event[0].eventTitle}
        speakerBrand={speaker.speakerBrand}
        link={'/charlistas/' + speaker.slug}
      />
    ))
  }
</div>

<style>
  .speakers-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem 3rem;
  }
</style>
